
body{
    background-color: #f5efe8;
}

a{
    text-decoration: none;
}

#main-page{
    display: flex;
    flex-direction: column;
}

/* TOP NAV - LOGO AND NAV BAR */
.nav-bar {
    display: flex;
    height: 10vh;
    padding: 20px;
}

#personal-logo{
    position: relative;
    top: 0px;
    height: 100%;
}

.nav{
    display: flex;
    margin-left: 75%;
    width: 50%;
    justify-content: space-around;
}

.nav-button{
    font-size: 20px;
    color: grey;
}

/* HELLO AND PICTURE */

.home{
    display: flex;
    height: 70vh;
    justify-content: space-around;
    /* background-image: url("images/stephanie.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 300px; */
}

/* .blurb{
    display: flex;
    flex-direction: column;
} */

#hello-message{
    position: relative;
    /* width: 50%; */
    color: #A7AE9E; 
    /* text-align: center; */
    font-size: 40px;
}

#self-image{
    position: relative;
    opacity: 90%;
    height: 90%;
    margin-left: 15vw;
}

.about{
    display: flex;
    justify-content: center;
}

.about-me-paragraph{
    padding: 10px;
    text-align: left;
}

.description{
    color:#5c5c5c;
}

#experience{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat';
}

.work{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.work-experience{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 25%;
    align-items: center;
    background-color: #A7AE9E;
    border-radius: 30px;
    color: white;
}

.work-description{
    text-align: center;
}

.work-responsibilities{
    text-align: left;
}

.work-icon{
    width: 250px;
    height: 250px;
    object-fit: scale-down;
}

.projects{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}

.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #A7AE9E;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    text-align: center;
    color: white;
}

.project-icon{
    padding: 15px;
}

/* .school{
    display: flex;
    
}


.relavent-coursework{
    background-color: rgb(255, 255, 191);
    border-radius: 12px;
} */

.project-icon{
    height: 100px;
}

#contact-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5c5c5c;
}

.connect-logos{
    width: 40pt;
    height: 40pt;
}